# Prerequisites
*.d

# Misc
*.g.cs
*.json
*.cache
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CakeShop/CakeShop/bin/*
/CakeShop/CakeShop/obj/*
/CakeShop/CakeShop/obj/project.assets.json
/CakeShop/CakeShop/obj/Debug/netcoreapp3.1/CakeShop.assets.cache
/CakeShop/CakeShop/obj/Debug/netcoreapp3.1/CakeShop.csproj.CoreCompileInputs.cache
/CakeShop/CakeShop/obj/Debug/netcoreapp3.1/CakeShop.csproj.FileListAbsolute.txt
/CakeShop/CakeShop/obj/Debug/netcoreapp3.1/CakeShop.dll
/CakeShop/CakeShop/obj/Debug/netcoreapp3.1/CakeShop.pdb
/CakeShop/CakeShop/obj/Debug/netcoreapp3.1/CakeShop.RazorCoreGenerate.cache
/CakeShop/CakeShop/obj/Debug/netcoreapp3.1/CakeShop.Views.dll
/CakeShop/CakeShop/obj/Debug/netcoreapp3.1/CakeShop.Views.pdb
